<div class="funs meetings">
    <div class="subheader">
        <h4>会议会展
            <a href="#/" ng-click="hideRightMenu()"><</a>
            <a href="javascript:;" ng-click="showRightMenu()">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </h4>
    </div>
    <ul class="img_box">
        <li>
            <p>会议室面积超过6000平方米<br/> 配套背景板、舞台、投影仪、幕布、桌签等服务一应俱全<br/> 可容纳20~1000人大、中、小会议室14个<br/>VIP贵宾接待室</p>
            <img src="images/meetings1.png" alt="" >
        </li>
        <li><a href="#room_broadcast">报告厅</a><img src="images/meetings2.png" alt="" ></li>
        <li><a href="#room_fairwell">宴会厅</a><img src="images/meetings3.png" alt="" ></li>
        <li><a href="#room_business">会议室</a><img src="images/meetings4.png" alt="" ></li>
    </ul>
</div>