<div class="funs meetings">
    <div class="subheader">
        <h4>多功能会议厅
            <a href="#meetings" ng-click="hideRightMenu()"><</a>
            <a href="javascript:;" ng-click="showRightMenu()">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </h4>
    </div>
    <div class="room_list room_broadcast">
        <div class="room_wrap">
            <div class="room ">
                <dl>
                    <dt>报告厅</dt>
                    <dd>面积：1100cm²</dd>
                    <dd>高5m*长40m*宽25m</dd>
                    <dd>专业的会议技术支持</dd>
                    <dd>专属会议管家</dd>
                    <dd>现代化的会议设备及活动设施</dd>
                </dl>
                <div class="box_for_pic">
                </div>
                <div class="marsk"></div>
            </div>
            <div class="room ">
                <dl>
                    <dt>报告厅</dt>
                    <dd>面积：1100cm²</dd>
                    <dd>高5m*长40m*宽25m</dd>
                    <dd>专业的会议技术支持</dd>
                    <dd>专属会议管家</dd>
                    <dd>现代化的会议设备及活动设施</dd>
                </dl>
                <div class="box_for_pic">
                </div>
                <div class="marsk"></div>
            </div>
            <div class="room ">
                <dl>
                    <dt>报告厅</dt>
                    <dd>面积：1100cm²</dd>
                    <dd>高5m*长40m*宽25m</dd>
                    <dd>专业的会议技术支持</dd>
                    <dd>专属会议管家</dd>
                    <dd>现代化的会议设备及活动设施</dd>
                </dl>
                <div class="box_for_pic">
                </div>
                <div class="marsk"></div>
            </div>
            <div class="room ">
                <dl>
                    <dt>报告厅</dt>
                    <dd>面积：1100cm²</dd>
                    <dd>高5m*长40m*宽25m</dd>
                    <dd>专业的会议技术支持</dd>
                    <dd>专属会议管家</dd>
                    <dd>现代化的会议设备及活动设施</dd>
                </dl>
                <div class="box_for_pic">
                </div>
                <div class="marsk"></div>
            </div>
            <div class="room ">
                <dl>
                    <dt>报告厅</dt>
                    <dd>面积：1100cm²</dd>
                    <dd>高5m*长40m*宽25m</dd>
                    <dd>专业的会议技术支持</dd>
                    <dd>专属会议管家</dd>
                    <dd>现代化的会议设备及活动设施</dd>
                </dl>
                <div class="box_for_pic">
                </div>
                <div class="marsk"></div>
            </div>
        </div>
    </div>
</div>