<div class="funs meetings weedings">
    <div class="subheader">
        <h4>婚宴婚庆
            <a href="#/" ng-click="hideRightMenu()"><</a>
            <a href="javascript:;" ng-click="showRightMenu()">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </h4>
    </div>
    <div class="weedings_img_box">
        <div class="item_list">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>

        </div>

    </div>
    <div class="weedings_txt_box">
        <p>1</p>
        <p>2</p>
        <p>北苑大酒店温泉水疗中心占地2万㎡，<br/> 拥有京城北部独具特色的露天温泉，<br/> 使用地下深采温泉水源。<br/> 极致个性化的服务理念与全球流行的娱乐休闲方式结合</p>
        <p>4</p>
        <p>5</p>
    </div>

</div>