<div class="wenquan rooms_details">
    <div class="subheader">
        <h4>客房预定
            <a href="#rooms" ng-click="hideRightMenu()"><</a>
            <a href="javascript:;" ng-click="showRightMenu()">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </h4>
    </div>

    <div class="lunbo_box">
        <ul class="img_box">
            <li><img src="images/rooms_pic3.png" alt=""></li>
            <li><img src="images/rooms_pic3.png" alt=""></li>
            <li><img src="images/rooms_pic3.png" alt=""></li>
        </ul>
        <div class="dot_box">
            <i class="ac"></i>
            <i></i>
            <i></i>
        </div>
    </div>
    <div class="context">
        <h5>行政套房</h5>
        <!--客房设施齐全、舒适房间色调柔和，充满东方古典韵味 设有步入式衣帽间，休息区与工作区 提供全方位的至尊享受。-->
        <p>客房设施齐全、舒适房间色调柔和，充满东方古典韵味 <br/>设有步入式衣帽间，休息区与工作区<br/>  提供全方位的至尊享受。</p>
        <ul class="setments_list">
            <li><i></i>液晶屏幕电视</li>
            <li><i></i>宽带网线接入  高速无线上网</li>
            <li><i></i>迷你酒吧</li>
            <li><i></i>全套豪华卫浴用品</li>
            <li><i></i>宽敞豪华的大理石浴室</li>
            <li><i></i>步入式衣帽间</li>
            <li><i></i>中央空调系统</li>
            <li><i></i>电子密码保险柜 </li>
            <li><i></i>免费瓶装水</li>
        </ul>
    </div>
    <a href="javscript:;" class="book_btn">立即预定</a>
</div>