<div class="funs meetings rooms">
    <div class="subheader">
        <h4>舒适客房
            <a href="#/" ng-click="hideRightMenu()"><</a>
            <a href="javascript:;" ng-click="showRightMenu()">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </h4>
    </div>
    <ul class="img_box ">
        <li>
            <!--客房设施齐全、舒适 房间色调柔和，充满东方古典韵味 设有步入式衣帽间，休息区与工作区 提供全方位的至尊享受。-->
            <p>客房设施齐全、舒适<br/> 房间色调柔和， 充满东方古典韵味 <br/> 设有步入式衣帽间，休息区与工作区<br/>提供全方位的至尊享受。</p>
            <img src="images/rooms_pic1.png" alt="" >
        </li>
        <!--<a href="#">豪华套房</a> -->
        <li><a href="#luxury_room">豪华套房</a><img src="images/rooms_pic2.png" alt="" ></li>
        <li><a href="#administration_room">行政套房</a><img src="images/rooms_pic3.png" alt="" > </li>
        <li><a href="#luxury_big_room">豪华大床房</a><img src="images/rooms_pic4.png" alt="" ></li>
        <li><a href="#unic_room">精品特色房</a><img src="images/rooms_pic5.png" alt="" ></li>
        <li><a href="#normal_big_room">普通大床房</a><img src="images/rooms_pic6.png" alt="" ></li>
        <li><a href="#standard_room">标准双人间</a><img src="images/rooms_pic7.png" alt="" ></li>
    </ul>
    <!--右侧buttons -->
    <div class="rihgt_menu_list">
        <div class="logo">
            <a href="javascript:;">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
        <div class="a_nav">
            <div class="mid">
                <a href="javascript:;">首页</a>
                <a href="javascript:;">康体娱乐</a>
                <a href="javascript:;">会议会展</a>
                <a href="javascript:;">婚宴婚庆</a>
                <a href="javascript:;">舒适客房</a>
                <a href="javascript:;">餐饮美食</a>
                <a href="javascript:;">商务办公</a>
            </div>

        </div>
    </div>
</div>