<div class="funs meetings rooms foods">
    <div class="subheader">
        <h4>餐饮美食
            <a href="#/" ng-click="hideRightMenu()"><</a>
            <a href="javascript:;" ng-click="showRightMenu()">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </h4>
    </div>
    <ul class="img_box ">
        <li>
            <!--这里的中餐火爆，西餐丰盛，日餐唯美。 中餐主打热辣湘菜， 品类多、讲实惠，品味上乘，烹调考究。 这里环境优雅，伴随美妙的音乐，。-->
            <p>这里的中餐火爆，西餐丰盛，日餐唯美。<br/> 中餐主打热辣湘菜，<br/> 品类多、讲实惠，品味上乘，烹调考究。<br/>这里环境优雅，伴随美妙的音乐，全面提高老饕的用餐享受。</p>
            <img src="images/foods_pic1.png" alt="" >
        </li>
        <!--<a href="#">豪华套房</a> -->
        <li><a href="#xiangxi">湘苑食府</a><img src="images/foods_pic2.png" alt="" ></li>
        <li><a href="#four_seasons">四季厅</a><img src="images/foods_pic3.png" alt="" > </li>
        <li><a href="#self_settings">会议自助</a><img src="images/foods_pic1.png" alt="" ></li>
        <li><a href="#cold_foods">冷餐</a><img src="images/foods_pic1.png" alt="" ></li>
        <li><a href="#tea_bar">茶歇</a><img src="images/foods_pic1.png" alt="" ></li>
        <li><a href="#public_bar">大堂吧</a><img src="images/foods_pic1.png" alt="" ></li>
    </ul>
    <!--右侧buttons -->
</div>