<div class="wenquan foods_details">
    <div class="subheader">
        <h4>餐饮美食
            <a href="#foods" ng-click="hideRightMenu()"><</a>
            <a href="javascript:;" ng-click="showRightMenu()">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </h4>
    </div>
    <div class="lunbo_box">
        <ul class="img_box">
            <li><img src="images/foods_pic1.png" alt=""></li>
            <li><img src="images/foods_pic1.png" alt=""></li>
            <li><img src="images/foods_pic1.png" alt=""></li>
        </ul>
        <div class="dot_box">
            <i class="ac"></i>
            <i></i>
            <i></i>
        </div>
    </div>
    <div class="context">
        <h5>茶歇</h5>
        <!--你需要的是一份有情怀的美食 湘，本心所在，热情火辣 甘鲜醇厚尽在舌尖 一馐一馔无不蕴含潇湘情调。-->
        <p>你需要的是一份有情怀的美食<br/>湘，本心所在，热情火辣<br/> 甘鲜醇厚尽在舌尖,<br/>一馐一馔无不蕴含潇湘情调。</p>
        <ul class="setments_list">
            <li >地点：酒店1层 茶歇</li>
            <li class="time">营业时间：  </li>
            <li>午餐:10:30-14:30</li>
            <li>晚餐:15:30-22:00</li>
        </ul>
    </div>
    <a href="javascript:;" class="book_btn">立即预定</a>
</div>