<div class="funs">
    <div class="subheader">
        <h4>康体娱乐
            <a href="#/" ng-click="hideRightMenu()"><</a>
            <a href="javascript:;" ng-click="showRightMenu()">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </h4>
    </div>
    <ul class="img_box">
        <li>
            <p>北苑大酒店温泉水疗中心占地2万㎡，<br/> 拥有京城北部独具特色的露天温泉，<br/> 使用地下深采温泉水源。<br/> 极致个性化的服务理念与全球流行的</p>
            <img src="images/funs_pic1.png" alt="" >
        </li>
        <li><a href="#wenquan">北苑温泉</a><img src="images/funs_pic2.png" alt="" ></li>
        <li><a href="#jianshen">北苑健身</a><img src="images/funs_pic3.png" alt="" ></li>
    </ul>
</div>