<div class="wenquan ">
    <div class="subheader">
        <h4>康体娱乐
            <a href="#funs" ng-click="hideRightMenu()"><</a>
            <a href="javascript:;" ng-click="showRightMenu()">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </h4>
    </div>

    <div class="lunbo_box">
        <ul class="img_box">
            <li ><img src="images/funs_pic3.png" alt=""></li>
            <li><img src="images/funs_pic3.png" alt=""></li>
            <li><img src="images/funs_pic3.png" alt=""></li>
        </ul>
        <div class="dot_box">
            <i class="ac"></i>
            <i></i>
            <i></i>
        </div>
    </div>
    <div class="context">
        <h5>北苑健身</h5>
        <p>25米泳池，水温24～29度。<br/> 健身器材类型丰富，有氧区与无氧区分设。<br/> 专门为VIP开辟私人教室。<br/> 可满足各种健身需求。</p>
    </div>

    <a href="javscript:;" class="book_btn">立即预定</a>
</div>