<div class="wenquan ">
    <div class="subheader">
        <h4>康体娱乐
            <a href="#funs" ng-click="hideRightMenu()"><</a>
            <a href="javascript:;" ng-click="showRightMenu()">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </h4>
    </div>
    <div class="lunbo_box">
        <ul class="img_box">
            <li><img src="images/funs_pic2.png" alt=""></li>
            <li><img src="images/funs_pic2.png" alt=""></li>
            <li><img src="images/funs_pic2.png" alt=""></li>
        </ul>
        <div class="dot_box">
            <i class="ac"></i>
            <i></i>
            <i></i>

        </div>
    </div>
    <div class="context">
        <h5>北苑温泉</h5>
        <p>温泉水温恒定42度，惬意享受纯天然露天温泉。 <br/>另配有豪华客房。舒适养生，环境优雅、异域风情。<br/> SPA、足疗、玉床、中医理疗等种类丰富。<br/>空间私密，宽敞舒适。</p>
    </div>
    <a href="javscript:;" class="book_btn">立即预定</a>
</div>